.widget-wrapper{
    border-radius: 25px;
}

.transport_widget{
    width: 100%;
    height: 100%;
    padding: 0px;
    display: inline-flex;
    color: #000;
    // background: #0000002E;
    // filter: blur(2px);
    

    // &:after{
    //     content: '';
    //     position: absolute;
    //     left: 0;
    //     top: 0;
    //     width: 100%;
    //     height: 100%;
    //     background: #0000002E;
    //     // filter: blur(2px);
    // }


    .transport_box{
        width: 75%;
        display: inline-block;
        background: #fbfbfb12;
        border-radius: 25px;
        padding: 20px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 9999;
        height: 100%;
        backdrop-filter: blur(34px);
        box-shadow: 0px 4px 14px #0000002e;
        opacity: 1;

    .transport-top{
        width: 100%;
        display: inline-flex;
        position: relative; 
        padding: 0px 0;
        
        h4{
            width: 39%;
            display: inline-block;
            font-size: 1.2em;
            padding: 6px 0 0 25px;
            margin: 0;
            position: relative;
            text-transform: uppercase;
            color: #424242;

            &:before{
                content: '';
                position: absolute;
                left: 0px;
                top: 6px;
                width: 15px;
                height: 15px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 100% auto;
                background-image: url(/images/bus-icon.svg);
            }
        } 

        .hour_toggle{
            width: 60%;
            float: right;

            .toggle-btn{
                background: transparent;
                width: auto;
                padding: 0;
                margin: 0;
                float: right;

                .uxp-toggle-option{
                    border-radius: 20px;
                    padding: 11px 16px;
                    background-color: transparent;
                    font-size: 10px;
                    color: #424242;
                    box-shadow: none;

                    &.selected{
                        background-color: #7A6FF0;
                        color: #fff;
                    }
                }
            }
        }
         
    }

    .transport-content{ 
        display: inline-block;
        width: 100%;
        margin-top: 1em; 

    .daylist{ 
        display: inline-block;
        width: 100%;
        padding: 0;
        margin: 0;

        li{
            list-style: none;
            width: 100%;
            padding: 18px 25px;
            font-size: 1.2em;
            display: inline-flex;
            border-radius: 10px;
            margin-top: 1.3em;
            position: relative;

            &:nth-child(odd){
                background-color: #fff;
            } 
            label{
                padding: 0;
                margin: 0;
                width: 100%;
                display: inline-block;
                color: #424242;
                font-size: 8px;
                text-transform: uppercase;
            }
            p{
                padding: 0;
                margin: 10px 0 0 0;
                width: 100%;
                display: inline-block;
                color: #424242;
                font-size: 10px;
                text-transform: uppercase;
            }

            .vehicle{  
                display: inline-block;
                margin-top: 17px;
                width: 30px;
                height: 30px;
                text-align: center;
                position: relative;

                img{
                    max-width: 100%;
                    max-height: 100%;
                }

                &:after{
                    content: '';
                    position: absolute;
                    right: -4px;
                    top: -6px;
                    width: 10px;
                    height: 10px;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: 100% auto;
                    background-image: url(/images/green_arrow-up.svg);
                }
            }
            .travel-time{
                display: inline-block;
                margin-top: 5px;
                width: 30%;
                text-align: center;
            }
            .travel-from{
                display: inline-block;
                margin-top: 5px;
                width: 30%;
                text-align: center;
            }

            .travel-to{
                display: inline-block;
                margin-top: 5px;
                width: 30%;
                text-align: center;
            } 
            .status{
                position: absolute;
                top: 10px;
                right: 10px;
                background: #000;
                color: #fff;
                font-size: 7px;
                font-weight: normal;
                padding: 6px 6px 6px 16px;
                text-transform: uppercase;
                width: 60px;
                text-align: center;
                box-shadow: 0px 0px 5px #00000094;
                border-radius: 3px;

                &:before{
                    content: '';
                    position: absolute;
                    left: 6px;
                    top: 5px;
                    width: 8px;
                    height: 8px;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: 100% auto;
                    background-image: url(/images/white-timer.svg);
                }
            }

            &.delayed{ 
                .vehicle{   
                    &:after{ 
                        background-image: url(/images/orange_arrow-up.svg);
                    }
                } 
                .status{ 
                    background: #FDB06D;
                    color: #000;  
                    box-shadow: 0px 0px 5px #33333394;
                    &:before{ 
                        background-image: url(/images/black-timer.svg);
                    }
                }

            }
        }
    }
    
    }  
}

.transport_map{
    width: 100%;
    display: inline-block;
}

}
